row.property label.title {
  opacity: 0.55;
  font-size: smaller;
}

row.property label.subtitle {
  opacity: 1.0;
  font-size: 11pt;
}

.dragndrop_overlay {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
}
